<header class="fixed-header">
    <div class="navbar">
        <div  class="navbar-brand align-item-center d-flex">
            <!-- <i (click)="goToPage('')" style=" cursor: pointer; font-size: 35px; color: white;  margin-left: 75px; margin-top: 2px;" class="fa-solid fa-house" ></i> -->
            <i (click)="goToPage('')" style="cursor:pointer; font-size: 40px; margin-left: 55px; color: white;" class="fas fa-shipping-fast">&nbsp;
                
            </i>
            <div style="margin-top: 10px; color: white; cursor: pointer;" (click)="goToPage('')">
                <strong  style="font-size: 30px; ">Shoppie</strong>
            </div>
            
            <!-- Search Form -->
            <ng-container >
                <form routerLink="/products" style="margin-left: 30px; align-items: left; " [formGroup]="searchProductForm" (ngSubmit)="searchProduct(searchBar.value)">
                    <input (change)="revertHideAutoComplete()" #searchBar formControlName="searchBar" type="text" [formControl]="searchControl" class="form-control" placeholder="Search products...">
                </form>
                
                <span class="fas fa-search search-icon" style="margin-right: 100px;">
    
                </span>
            </ng-container>
        </div>
        
        
        
        <!-- Button trigger modal -->
        <div>
            <!-- <button type="button"  class="btn " data-bs-toggle="modal" data-bs-target="#exampleModal">
                Add New Product
            </button> -->
            <button  routerLink="my-products" class="btn"  >Pending Orders</button>
        </div>

        <!-- My Orders Button -->
        <button routerLink="my-orders"  class="btn ">My Orders</button>

        

        <!-- Routing to Cart Page -->
        <button style="margin-right: 30px;" routerLink ="cart" class="btn">
            <i style="font-size: 30px;" class="fa-solid fa-cart-shopping"></i>
            <!-- <i  style="font-size: 30px; color:  #000; " class="fas fa-cart-plus"></i> -->
            <div style=" font-size: 10px; background: rgb(4, 75, 228); top: -40px;" [matBadge]="totalItem" class="badgebg-danger"></div>
        </button>
        <button routerLink="signup" *ngIf="!isLoggedIn" class="btn ">Sign Up</button>
        <button mat-flat-button routerLink="login" *ngIf="!isLoggedIn" style="margin-right: 20px;" >Login</button>
        <button mat-flat-button *ngIf="isLoggedIn" style="margin-right: 20px;" (click)="logout()">Logout</button>
        <!-- Header HTML code -->

        

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Product Details</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" >

                    <!-- Form -->
                    <form style="width: 200px;" [formGroup]="addProductForm" (ngSubmit)="addProduct()">
                        <div class="mb-3" >
                          <label for="productName" class="form-label">Product Name</label>
                          <input type="text" class="form-control" id="productName" formControlName="prodName" >
                        </div>

                        <div class="mb-3" >
                            <label for="productDesc" class="form-label">Description</label>
                            <input type="text" class="form-control" id="productDesc" formControlName="prodDesc" >
                          </div>
                        
                          <div class="mb-3" >
                            <label for="image" class="form-label">Image URL</label>
                            <input type="text" class="form-control" id="image" formControlName="image">
                          </div>

                        <div class="mb-3" >
                          <label for="price" class="form-label">Price</label>
                          <input type="number" class="form-control" id="price" formControlName="price">
                        </div>

                        <div class="mb-3" >
                            <label for="quantity" class="form-label">Quantity</label>
                            <input type="number" class="form-control" id="quantity" formControlName="quant">
                        </div>

                        <div class="mb-3" >
                            <label for="category" class="form-label">Category</label>
                            <input type="text" class="form-control" id="category" formControlName="category">
                        </div>

                      </form>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="addProduct()">Add</button>
                </div>
            </div>
            </div>
        </div>


        
    </div>
</header>
<div>
    <ul [hidden]="hideAutoComplete" class="suggestions">
        <li *ngFor="let product of products">
            <div id="suggestedId" (click)="changeSearchBarValue(product.prodName)">{{ product.prodName }}</div>
        </li>
    </ul>
</div> 