.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.image-container {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.image-container img {
  width: 400px;
  height: 300px;
}

.view-products-btn {
  display: block;
  margin: 20px auto;
}

.cont-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cont-1-top {
  display: flex;
  width: 100%;
  margin-top: -2.7%;
  margin-bottom: 2%;
}
.cont-1-top-left {
  width: 100%;
  height: 550px;
  background-image: url("https://cdn.shopify.com/s/files/1/0238/2821/files/230612_Secondary_Desktop_0002_Royale_Blanco_01.jpg?v=1686682288");
  background-image: url("https://img.freepik.com/free-photo/two-beautiful-women-shopping-town_1303-16426.jpg?size=626&ext=jpg&ga=GA1.1.1256424137.1687945367&semt=sph");
  background-image: url("https://img.freepik.com/free-photo/shoppers-talking-center_1098-12640.jpg?size=626&ext=jpg&ga=GA1.1.1256424137.1687945367&semt=sph");
  background-image: url("https://cdn.shopify.com/s/files/1/0238/2821/files/Shop-Low-Tops.jpg?v=1687805943");
  background-size: contain;
  background-size: 130%;
  background-size: contain;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  width: 80%;
  height: 300px;
  height: 610px; /* Adjust the height as needed */
}
.cont-1-top-right {
  width: 80%;
  height: 610px;
  background-image: url("https://cdn.shopify.com/s/files/1/0238/2821/files/Shop-Womens-Sneakers230612-Secondary-Desktop.jpg?v=1687806304");
  background-size: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.cont-1-top-right .text-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  margin-top: 35%;
  margin-left: 10%;
}
.cont-1-top-right .text-overlay p, .cont-1-top-right .text-overlay h1 {
  color: #fffcfc;
}
.cont-1-top-right .text-overlay h1 {
  line-height: 1.2;
  font-size: 38px;
}
.cont-1-top-right .text-overlay p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.cont-1-top-right button {
  background-color: #fdf9f9;
  border: 1px solid black;
  width: 70%;
  padding: 5% 0;
  text-transform: uppercase;
  border-radius: 10px;
}
.cont-1-top-right button:hover {
  transition: ease-out;
  background-color: black;
  color: white;
}

.inner-cont-1 {
  margin-top: -20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.inner-cont-1 img {
  width: 22%;
  height: 30%;
  margin: 0 20px;
}

.top-img {
  top: -35px;
  position: relative;
}

.shop-more {
  box-sizing: border-box;
  position: absolute;
  top: 500px;
  width: 18%;
  padding: 9px 2px;
  border-radius: 20px;
}

.container-2 {
  margin-top: 2%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container-2 .div-1 {
  padding: 30px;
}
.container-2 .div-2 {
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container-2 .div-2 h2 {
  font-size: 25px;
}
.container-2 .div-2 p {
  font-size: 15px;
}
.container-2 .div-2 .dual {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  /* "to left" / "to right" - affects initial color */
  background: linear-gradient(to left, blue 50%, rgb(208, 20, 233) 50%) right;
  border: none;
  border-radius: 50px;
  background-size: 200%;
  transition: 0.4s ease-out;
}
.container-2 .div-2 .dual :hover {
  background-position: left;
}

.container-3 {
  display: flex;
  margin: 40px 0px;
  margin-left: 0;
  margin-top: 50px;
}
.container-3 .div1 {
  width: 560px;
  height: 510px;
  background-image: url("https://cdn.shopify.com/s/files/1/0289/3692/files/Women.png?v=1683127075&width=750");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
  position: relative;
}
.container-3 .div1 .button {
  position: absolute;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 70%;
  margin-left: 30%;
  border-radius: 20px;
  font-size: medium;
}
.container-3 .div1 .bb {
  cursor: pointer;
  margin-top: 70%;
  margin-left: 30%;
}
.container-3 .div2 {
  width: 560px;
  height: 510px;
  background-image: url("https://cdn.shopify.com/s/files/1/0289/3692/files/Men.png?v=1683127088&width=750");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 10px;
  position: relative;
}
.container-3 .div2 .bb {
  cursor: pointer;
  margin-top: 70%;
  margin-left: 30%;
}
.container-3 .div2 .button {
  position: absolute;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 70%;
  margin-left: 30%;
  border-radius: 20px;
  font-size: medium;
}

.feel {
  font-size: 48px;
  line-height: 1.31;
  color: white;
  border: 1px solid black;
}