<h2 style="padding-top: 80px;">Login</h2>
<div class="grid">
  <div>
    <header class="section-header">
      <h1 class="section-header__title">NICE TO SEE YOU HERE!</h1>
      <p style="width: 75%;text-align: center;margin: 10px auto 0;" data-ly-mutation-count="1">
        By signing you will be able to know the status of your orders, You will also able to add products to the cart <br>
      </p>
      
    </header>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

      <label for="username">Username</label>
      <input type="text" id="username" formControlName="username">
    
      <div class="pass-container">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password">
      </div>
      <button type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
  </div>

        
</div>

