<strong>
  <p>Rating:</p>
  <div class="star-rating" [ngClass]="{'empty-star-rating': calculateAverageRating() < 1}"></div>
  <div class="star-rating" [ngClass]="{'empty-star-rating': calculateAverageRating() < 2}"></div>
  <div class="star-rating" [ngClass]="{'empty-star-rating': calculateAverageRating() < 3}"></div>
  <div class="star-rating" [ngClass]="{'empty-star-rating': calculateAverageRating() < 4}"></div>
  <div class="star-rating" [ngClass]="{'empty-star-rating': calculateAverageRating() < 5}"></div>
  <span style="font-size: 1.2rem;"> ({{  calculateAverageRating() }})</span>
</strong>

<strong><p>Reviews: {{ totalReviews() }}</p></strong>

<button class="btn btn-secondary" *ngIf="!showReviews" (click)="showReviews = true">Display Reviews</button>
<button class="btn btn-secondary" *ngIf="showReviews" (click)="showReviews = false">Hide Reviews</button>

<div *ngIf="showReviews" class="review-section">
    <h3>Reviews</h3>
    <div *ngFor="let review of reviews" class="review-item">
    <p>Rating: {{ review.rating }}</p>
    <p>Content: {{ review.content }}</p>
    <p>User: {{ review.userId }}</p>
    <p>Created At: {{ review.createdAt }}</p>
    </div>
    <button class="btn btn-primary" (click)="showReviewForm = !showReviewForm">Add a Review</button>
</div>


<div *ngIf="showReviewForm" class="review-form">

    <form [formGroup]="reviewForm" (ngSubmit)="submitReview()" class="form-container">
  <label for="rating">Rating:</label>
  <!-- <mat-slider
    thumbLabel
    tickInterval="1"
    min="1"
    max="5"
    formControlName="rating"
    class="form-input"
  ></mat-slider> -->  
  <mat-slider
        min="1"
        max="5"
        step="1"
        showTickMarks
        discrete
      >
        <input formControlName="rating" #slideBar matSliderThumb />
      </mat-slider>
  <label for="content">Review:</label>
  <textarea formControlName="content" class="form-input"></textarea>

  <button type="submit" [disabled]="reviewForm.invalid" class="submit-button">Submit</button>
</form>

</div>
<!-- Inside the review component template -->

<div class="filter-section">
  <h4>Sorting Options:</h4>
  <select [(ngModel)]="selectedSortingOption" (change)="sortReviews()">
    <option value="latest">Latest</option>
    <option value="highest-rated">Highest Rated</option>
    <option value="most-helpful">Most Helpful</option>
  </select>
</div>

<div class="filter-section">
  <h4>Rating Filter:</h4>
  <select [(ngModel)]="selectedRatingFilter" (change)="filterReviews()">
    <option value="">All Ratings</option>
    <option value="1">1 Star</option>
    <option value="2">2 Stars</option>
    <option value="3">3 Stars</option>
    <option value="4">4 Stars</option>
    <option value="5">5 Stars</option>
  </select>
</div>


