<div class="mainnn" style="margin-left: 2%;" >
  <div class="mainnn-1">
    <strong>
      <p style="font-size: large;">Ratings & Reviews</p>
      <div
        class="star-rating"
        [ngClass]="{ 'empty-star-rating': calculateAverageRating() < 1 }"
      ></div>
      <div
        class="star-rating"
        [ngClass]="{ 'empty-star-rating': calculateAverageRating() < 2 }"
      ></div>
      <div
        class="star-rating"
        [ngClass]="{ 'empty-star-rating': calculateAverageRating() < 3 }"
      ></div>
      <div
        class="star-rating"
        [ngClass]="{ 'empty-star-rating': calculateAverageRating() < 4 }"
      ></div>
      <div
        class="star-rating"
        [ngClass]="{ 'empty-star-rating': calculateAverageRating() < 5 }"
      ></div>
      <span style="font-size: 1.2rem"> ({{ totalReviews() }})</span>
    </strong>
    
    <!-- <strong><p>Reviews: {{ totalReviews() }}</p></strong> -->
    <div style="margin-top: 2%;">
      <div class="main-bar">
        5 
        <span style="font-size: 10px;"><i class="fa-solid fa-star"></i></span>
        <div class="bar">
          <div class="bar-fill" [style.width]="getBarFillWidth(5)"></div>
        </div>
        <span style="margin-left: 1%;"> {{ this.getReviewCountByRating(5) }}</span>
      </div>
      
      
      <div class="main-bar">
        4 
        <span style="font-size: 10px; "><i class="fa-solid fa-star"></i></span> 
        <div class="bar">
          <div class="bar-fill" [style.width]="getBarFillWidth(4)"></div>
        </div>
       <span style="margin-left: 1%;"> {{ this.getReviewCountByRating(4) }}</span>
      </div>
      
      
      <div class="main-bar">
        3
        <span style="font-size: 10px;"><i class="fa-solid fa-star"></i></span>
        <div class="bar">
          <div class="bar-fill" [style.width]="getBarFillWidth(3)"></div>
        </div>
        <span style="margin-left: 1%;"> {{ this.getReviewCountByRating(3) }}</span>
      </div>
      
      
      <div class="main-bar">
        2 
        <span style="font-size: 10px;"><i class="fa-solid fa-star"></i></span> 
        <div class="bar">
          <div class="bar-fill" [style.width]="getBarFillWidth(2)"></div>
        </div>
        <span style="margin-left: 1%;"> {{ this.getReviewCountByRating(2) }}</span>
      </div>
      
      
      <div class="main-bar">
        1 
        <span style="font-size: 10px;"><i class="fa-solid fa-star"></i></span>
        <div class="bar">
          <div class="bar-fill" [style.width]="getBarFillWidth(1)"></div>
        </div>
        <span style="margin-left: 1%;"> {{ this.getReviewCountByRating(1) }}</span>
      </div>
      
      
    </div>
  </div>
  <div class="mainnn-2">
  
  <button
  class="btn btn-secondary"
  *ngIf="!showReviews"
  (click)="showReviews = true"
  >
  Display Reviews
  </button>
  <button
  class="btn btn-secondary"
  *ngIf="showReviews"
  (click)="showReviews = false"
  >
  Hide Reviews
  </button>
  
  <div *ngIf="showReviews" class="review-section">
  <h3>Reviews</h3>
  
  
  
  <div class="rev">
    <div *ngFor="let review of reviews" class="review-item">
      <div class="points">
        <span>{{ review.rating }}</span>
        <span style="font-size: 10px; margin-left: 10%;"><i class="fa-solid fa-star"></i></span>
        <!-- <span class="point-star"></span> -->
      </div>
      <p>Comment: <span style="text-transform: capitalize; font-weight: bold;">{{ review.comment }}</span></p>
      <p style="text-transform: capitalize; font-weight: bold; color: rgb(107, 103, 103);">@{{ review.author }}</p>
    </div>
  </div>
  <button class="btn btn-primary" (click)="showReviewForm = !showReviewForm">
    Add a Review
  </button>
  </div>
  
  
  
  <div *ngIf="showReviewForm" class="review-form">
  
  
  <form [formGroup]="reviewForm" (ngSubmit)="submitReview()" class="review-form" enctype="multipart/form-data">
    <div class="form-row">
      <!-- <label for="author">Author:</label> -->
      <!-- <input type="text" id="author" formControlName="author" required /> -->
    </div>
    <div class="form-row">
      <label for="rating">Rating:</label>
      <mat-slider
        min="1"
        max="5"
        step="1"
        showTickMarks
        discrete
      >
        <input formControlName="rating" #slideBar matSliderThumb />
      </mat-slider>
      
      <!-- <input type="number" id="rating" formControlName="rating" required /> -->
    </div>
  
    <div class="form-row">
      <label for="comment">Comment:</label>
      <textarea id="comment" formControlName="comment" required></textarea>
    </div>
  
    <div class="form-row submit-row">
      <button type="submit" class="submit-button">Submit Review</button>
    </div>
  </form>
  
  </div>
  
  
  </div>
</div>
